footer {
    border-top: 1px dashed #333;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    padding: 30px 0;
    margin: 50px 0 30px;
    flex-shrink: 0;
    
    .attribution {
        margin-top: 10px;
    }
}
