.page-header {
    font-size: 2.6em;
    font-weight: 700;
    line-height: 100%;
    font-family: var(--header-font);
    margin: 4rem 0 1rem 0;
}

.centered-header {
    margin: 80px 0;
    font-family: var(--header-font);
    text-align: center;
    font-size: 4em;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 0;
}

header .main {
    font-size: 1.5rem;

    /* Otherwise header and menu is too close on small screens*/
    margin-bottom: 10px;
}

.meta {
    color: #999;
    letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    color: var(--primary-color);
    margin-top: 2em;
}

h1 {
    font-size: 2.8rem;    
    line-height: 3.6rem;
}

h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
}

h3 {
    font-size: 2rem;
    line-height: 3rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.8rem;
}

h5 {
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-transform: uppercase;
}

h6 {
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-transform: uppercase;
}
